<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>01_hello</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        p {
            color: red;
        }
    </style>
</head>
<body>
    <!-- <div>
        &lt;span&gt;aaaa&nbsp;&nbsp;&nbsp;&lt;/span&gt;
    </div> -->
    <div id="app">
        <div>
            <p>Section：基本绑定</p>
            <div>{{msg}}</div>
            <div v-bind:title="tit">
                鼠标悬停几秒钟查看此处动态绑定的提示信息！
            </div>
            <div v-if="show">V-IF</div>
            <ul>
                <li v-for="item of list1" :key="item">
                    <input type="text" :placeholder="item">
                </li>
            </ul>
            <ul>
                <li v-for="value in obj" :key="value">{{value}}</li>
            </ul>
            <div>
                computed: reverseMsg
                <div>{{reverseMsg}}</div>
                <div>{{reverseMsg2}}</div>
                <div>{{reversedMessage()}}</div>
            </div>
            <div>
                watch: question/answer
                <div>{{question}}</div>
                <div>{{answer}}</div>
            </p>
        </div>
        <div>
            <p>Section：表单元素绑定</p>
            <input type="radio" :value="a" v-model="radio">
            <input type="radio" :value="b" v-model="radio">
        </div>
        <div>
            <p>Section：自定义组件</p>
            <button-counter></button-counter>
            <button-counter></button-counter>
        </div>
        <div>
            <p>Section: 局部注册组件</p>
            <my-component a="1" b="2" class="parent-class" style="color:blue;"></my-component>
        </div>
        <div>
            <p>Section: 数据代理</p>
            <button @click="handleClick" v-on="on">点击</button>
        </div>
    </div>
    <script>
        // 组件全局注册 - 必须在应用初始化前
        Vue.component('button-counter', {
            template: '<button @click="count++">点击了 {{ count }} 次。</button>',
            data() {
                return {
                    count: 0
                }
            }
        });

        // 组件局部注册
        const MyComponent = {
            name: 'MyComponent',
            template: '<h5>{{txt}}</h5>',
            inheritAttrs: false,
            data() {
                return {
                    txt: 'Hello, Jay!'
                }
            }
        };
    </script>

    <!-- Vue 应用初始化 -->
    <script>
        // 初始化应用
        const app = new Vue({
            el: '#app',
            components: {
                'MyComponent': MyComponent
            },
            data: {
                msg: 'Hello!',
                tit: '页面加载于 ' + new Date().toLocaleString(),
                show: true,
                txt: 'compATxt',
                list1: [1, 2, 3, 4],
                obj: {
                    a: 'a'
                },
                // watch
                question: '',
                answer: '',
                // form
                radio: '',
                a: { v: 'a' },
                b: { v: 'b' },
                // 数据代理
                dataProxy: 123.,
                on: {
                    click() {
                        console.log('111111')
                    }
                }
            },
            computed: {
                // 指定 getter
                reverseMsg() {
                    return this.msg.split('').reverse().join('') + ' 01'
                },

                // 指定 getter/setter
                reverseMsg2: {
                    get() {
                        return this.msg.split('').reverse().join('') + ' 02'
                    },

                    set(v) {
                        this.msg = v
                    }
                }
            },
            watch: {
                question(newVal, oldVal) {
                    console.log('watching question', oldVal, newVal);
                    this.answer = 'loading...';
                    setTimeout(() => {
                        this.answer = 'This Is The Answer';
                    }, 1000)
                }
            },
            methods: {
                reversedMessage() {
                    return this.msg.split('').reverse().join('') + ' 03'
                },

                handleClick() {
                    this.dataProxy = 123344;
                    console.log('handleClick: ', this._data);
                }
            },
            // TODO 生命周期钩子
            mounted () {
                Object.assign(this.$data, { jay: 333 });
                console.log(this.$data, this.jay);
            }
        });

        // app.$mount('#app');
    </script>
</body>
</html>