.ids-category-cascade-wrap {
    display: inline-block;
    margin-right: 10px;
}

.ant-select.ids-category-cascade-selector {
    width: auto;
    min-width: 58px;
    max-width: 135px;
    margin-right: 5px;
    display: inline-block;
}

.ids-typeA-dropdown.ant-select-dropdown,
.ids-typeB-dropdown.ant-select-dropdown,
.ids-typeC-dropdown.ant-select-dropdown, {
    min-width: 100px;
    max-width: 135px;
}

.ant-form-inline .ids-category-cascade-wrap .ant-form-item {
    margin-right: 0;
    vertical-align: middle;
}