{
    "presets": ["es2015", "react"],
    "plugins": [
        "transform-object-rest-spread",
        ["import", {
            "libraryName": "antd",
            "style": true
        }]
    ],
    "env": {
        "development": {
            "plugins": [
                "transform-remove-strict-mode",
                [
                    "react-transform",
                    {
                        "transforms": [
                            {
                                "transform": "react-transform-hmr",
                                "imports": ["react"],
                                "locals": ["module"]
                            }
                        ]
                    }
                ]
            ]
        },
        "test": {
            "plugins": ["transform-es2015-modules-commonjs"]
        }
    }
}
